@charset "utf-8";
@font-face {
    font-family: nike;
    src: url();
}

body{
    color: #211f1f;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2{
    font-weight: 800;
    color: #000000;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background: rgb(190, 190, 190)
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 30px;
    animation: surgir 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 40%;
}

section.modulo p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.3em;
}

section.modulo h2{
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

section.modulo.container{
    padding: 40px 0;
    background: rgb(255, 255, 255);
}

section.modulo.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50%;
}

section.modulo.parallax h1{
    color: #ffffff;
    font-family: 'Noto Sans Kawi', sans-serif;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 7px 7px 7px rgb(34, 34, 34);
    z-index: 50%;
}

section.modulo.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0) 40%, #000 100%);
}



section.modulo.parallax-1{
    background-image: url(https://images.unsplash.com/photo-1497515114629-f71d768fd07c?auto=format&fit=crop&q=80&w=1484&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
section.modulo.parallax-2{
    background-image: url(https://cdn.pixabay.com/photo/2020/10/12/15/55/coffee-5649213_1280.jpg);
}
section.modulo.parallax-3{
    background-image: url(https://images.unsplash.com/photo-1549903072-7e6e0bedb7fb?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

@keyframes surgir {
    from{
        translate: -100vw 0;   
        color: rgb(42, 0, 82);    
        opacity: 0; 
    }

    to{
        translate: 0 0;
        color: rgb(39, 39, 39);
        opacity: 1;
    }
    
}

@media all and (max-width: 760px){

    section.modulo p{
        margin-bottom:10px;
        text-align: center;
        font-size: 1.2em;
    }

    section.modulo.parallax h1{
        color: #fff;
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;
        text-shadow: 7px 7px 7px rgb(34, 34, 34);
        z-index: 50%;
    }

    section.modulo.content{
        width: 90%;
    }

    section.modulo.parallax-1{
        background-image: url(https://i.pinimg.com/originals/71/89/ee/7189ee299ff83a3dbbe1406dd52dff53.jpg);
    }
        
}
